<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>AddPetAndFindStatus</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>findStatusByPending</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addNewAvailablePet</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>findStatusByAvailable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addNewSoldPet</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>findStatusBySold</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addNewPendingPet</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>GetPetStatus</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateStatusCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateTimeTaken</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>iterateAndPrintLionDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>findStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>initializeVal</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
