<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PetStoreTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaed64">  <td>21/06/27 01:24:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initTest()[pri:0, instance:GetPetStatus@3ee37e5a]">&gt;&gt;initTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="70c169">  <td>21/06/27 01:24:24</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GetPetStatus.initializeVal()[pri:0, instance:GetPetStatus@3ee37e5a]">&gt;&gt;initializeVal</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="70c169">  <td>21/06/27 01:24:24</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetPetStatus.findStatus()[pri:1, instance:GetPetStatus@3ee37e5a]">findStatus</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="70c169">  <td>21/06/27 01:24:27</td>   <td>2495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetPetStatus.iterateAndPrintLionDetails()[pri:2, instance:GetPetStatus@3ee37e5a]">iterateAndPrintLionDetails</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="70c169">  <td>21/06/27 01:24:27</td>   <td>3021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetPetStatus.validateStatusCode()[pri:2, instance:GetPetStatus@3ee37e5a]">validateStatusCode</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="70c169">  <td>21/06/27 01:24:27</td>   <td>3048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetPetStatus.validateTimeTaken()[pri:2, instance:GetPetStatus@3ee37e5a]">validateTimeTaken</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="aaed64">  <td>21/06/27 01:24:27</td>   <td>3094</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initTest()[pri:0, instance:AddPetAndFindStatus@201a4587]">&gt;&gt;initTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="9499f1">  <td>21/06/27 01:24:27</td>   <td>3094</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddPetAndFindStatus.initialize()[pri:0, instance:AddPetAndFindStatus@201a4587]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="9499f1">  <td>21/06/27 01:24:27</td>   <td>3094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddPetAndFindStatus.addNewAvailablePet()[pri:1, instance:AddPetAndFindStatus@201a4587]">addNewAvailablePet</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="9499f1">  <td>21/06/27 01:24:28</td>   <td>4365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddPetAndFindStatus.findStatusByAvailable()[pri:2, instance:AddPetAndFindStatus@201a4587]">findStatusByAvailable</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="9499f1">  <td>21/06/27 01:24:30</td>   <td>5896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddPetAndFindStatus.addNewPendingPet()[pri:3, instance:AddPetAndFindStatus@201a4587]">addNewPendingPet</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="9499f1">  <td>21/06/27 01:24:31</td>   <td>7145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddPetAndFindStatus.findStatusByPending()[pri:4, instance:AddPetAndFindStatus@201a4587]">findStatusByPending</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="9499f1">  <td>21/06/27 01:24:32</td>   <td>8382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddPetAndFindStatus.addNewSoldPet()[pri:5, instance:AddPetAndFindStatus@201a4587]">addNewSoldPet</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="9499f1">  <td>21/06/27 01:24:34</td>   <td>9521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddPetAndFindStatus.findStatusBySold()[pri:6, instance:AddPetAndFindStatus@201a4587]">findStatusBySold</td> 
  <td>main@517355658</td>   <td></td> </tr>
</table>
